.topFixedBanner{
     background-image: url("../image/banner.jpg");
     min-height: 550px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.topBannerOverlay{
     position: absolute;
     min-height: 550px;
     width: 100%;
     background: rgb(0, 0, 0,0.7);
}

.topContent{
     margin-top: 10em;
}
.topTitle{
     font-family: 'Montserrat',sans-serif;
     font-weight: 700;
     color: #ffffff;
     font-size: 48px;
}
.topSubTitle{
     font-family: 'Raleway',sans-serif;
     font-weight: 600;
     color: #ffffff;
     font-size: 22px;

}
.ecommerceIcon{
     height: 80px;
     width: 80px;
}
.designIcon{
     height: 80px;
     width: 80px;
}
.webIcon{
     height: 80px;
     width: 80px;
}
.serviceCard{
     margin: 5px 5px 5px 5px;
     height: 22rem;
     padding: 60px 30px 60px 30px;
     box-shadow: 0 0 8px 0 rgb(4, 55, 105,0.2);
}
.serviceCard:hover{
     margin: 5px 5px 5px 5px;
     height: 22rem;
     padding: 60px 30px 60px 30px;
     box-shadow: 0 0 16px 0 rgb(4, 55, 105,0.2);
}
.serviceName{
     color: #051b35;
     margin-top: 1rem;
     font-family: 'Raleway',sans-serif;
     font-size: 24px;
     font-weight: 700;
}
.serviceDescription{
     color: #505050;
     margin-top: 1rem;
     font-family: 'Raleway',sans-serif;
     font-size: 15px;
     font-weight: 400;

}

